<p id="notice"><%= notice %></p>

<p>
  <strong>Asset:</strong>
  <%= @image.asset %>
</p>

<p>
  <strong>Title:</strong>
  <%= @image.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @image.description %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @image.tipo %>
</p>

<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>
